//颜色规范
$color-text-price:#ED7161;
$color-text-normal:#666;
$color-span:#999;
$color-text-actived:#6ed56c;
$color-main:#ebebeb;
$color-border:#e8e8e8;
$color-input:#f7f7f7;
$color-light-pink:#f49c9c;
$color-light-blue:#75bbe1;
$color-light-purple:#7496d2;
$color-del-nav-back:#f4f4f4;
//字体大小规范
$font-size-18:18px;
$font-size-16:16px;
$font-size-14:14px;
$font-size-12:12px;
$font-size-15:15px;

//字体权重
$font-weight-bold:bold;
$font-weight-bolder:bolder;
$font-weight-light:lighter;